<template name="Posts">
  <ul id="feed-posts">
  {{#with singlePost}}
    {{#if life}}
    <li>
        {{#each ancestors}}
          {{#if life}}
            {{> post}}
          {{/if}}
        {{/each}}
      {{#if life}}
        {{> post}}
      {{/if}}
        {{#each replies}}
          {{#if life}}
            {{> post}}
          {{/if}}
        {{/each}}
        {{#if currentUser}}
          {{> feedInput}}
        {{else}}
          <div class="pitch">
            <h2>WARN YOUR FRIENDS</h2>
            <p></p>
            <a href="#download">
              <button class="cyan" id="pitch-join">JOIN THE PARTY</button>
            </a>
            {{#if showDownload}}
              <div class="download dialog cyan">
                <a href="#">
                  <button class="dialog-close">X</button>
                </a>
                <h4>ON YOUR MOBILE DEVICE</h4>
                <p>Visit
                  <a href="http://www.masquerade.sh/">masquerade.sh</a>
                  or text a link to your phone</p>

                <div class="input">
                  <input type="tel" id="download-phone"/>
                  <button class="mdi-message green" id="sendLink"></button>
                </div>

                <div class="download-badges">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.id1l27p6tm6qraa1fyl29s&amp;hl=en&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                    <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png">
                  </a>
                </div>

                <h4>ON THE WEB</h4>
                <p>Visit
                  <a href="http://the.masquerade.sh/">the.masquerade.sh</a>
                  and join the party!</p>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </li>
    {{/if}}
  {{/with}}
</ul>
<p class="feed-closer">No more posts to show</p>
</template>

<template name="Feed">
  {{#if currentUser}}
    {{> feedInput}}

  {{/if}}
  <ul id="feed-posts">
    {{#each allPosts}}
      {{#if life}}
      <li>
          {{> post}}
      </li>
      {{/if}}
    {{/each}}
  </ul>
  <p class="feed-closer">No more posts to show</p>
</template>

<template name="feedInput">

  <div class="feed-input">

    <div class="header {{#if options}}reveal{{/if}}">
      <ul class="context {{#unless context}}hide{{/unless}}">
        <li id="button-avatar">
          <label>
            Change Avatar
            <input type="file" class="file_bag">
          </label>
        </li>
        <li id="button-logout">Log Out</li>
      </ul>

      <img id="profile-avatar" src="{{avatar}}" />

      <div class="group">
        <input type="text" id="settings-name" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{name}}</label>
        {{#if editing}}
          <button type="reset" class="mdi-close"></button>
          <button type="submit" class="mdi-check"></button>
        {{/if}}
      </div>

      <label id="message-button-photo" class="mdi-message-image">
        <input id="photo-input" type="file" class="hide">
      </label>
    </div>

    <div class="pending-image"></div>
    <button id="feed-input-options" class="mdi-settings-box"></button>
    <div data-value="{{placeholder}}" contentEditable></div>
    <button id="feed-input-send" class="mdi-send"></button>

  </div>
</template>
