<template name="Home">
    <div class="home-hero black">
      <label class="home-avatar">
        <img src="{{avatar}}" />
        <input type="file" class="file_bag">
      </label>
      <span class="home-profile">
        <div class="group">
          <input type="text" id="settings-name" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{username}}</label>
          {{#if editing}}
            <button type="reset" class="mdi-close"></button>
            <button type="submit" class="mdi-check"></button>
          {{/if}}
        </div>
        <!--<label for="settings-notifications"> Notify me when I get a message </label>
         <input type="checkbox" name="settings-notifications" id="settings-notifications"> -->
      </span>

    </div>

<!--
    <div id="home-invitations">
      <div class="banner red">Refer a friend!</div>

    {{#each invitations}}
    {{#if invitationOpen}}
    <div class="white card invitation">
        <div class="mdi-star red ribbon"></div>
        <p>Grande Prairie Regional College</p>
        <div class="code">
            <span>{{code}}</span>
        </div>
    </div>
    {{else}}
    <div class="white card invitation small">
    </div>
    {{/if}}
    {{/each}}
  </div>
-->
    <div class="button" id="home-logout">LOG OUT from {{version}}</div>
</template>
