<template name="LoginForm">
  <div class="login-page">
    <img src="/images/pulsetrans.png"/>
    <h1>PULSE</h1>
    {{#unless currentUser}}
      <div>{{LoginText}}</div>
      <form id="login-form" action="action">
        <div>
          <div class="group">
            <input type="text" id="login-username" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email/Phone Number</label>
          </div>

          {{#if auth}}
            <div class="group">
              <input type="text" id="login-code" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>{{authText}}</label>
            </div>
          {{/if}}
        </div>
        <div class="footer" id="login-button">
          <p>{{buttonText}}</p>
        </div>
      </form>
    {{else}}
      <button id="login-logout">EXIT</button>
    {{/unless}}
  </div>

</template>
