<template name="LoginForm">
  <div id="login-hero" class="violet">
    <img src="/images/pulsetrans.png"/>
    <p>PULSE</p>
  </div>
  <div id="login">
    {{#unless currentUser}}
      <div>{{LoginText}}</div>
      <form id="login-form" action="action">
        <div class="group">
          <input type="text" id="login-username" required>
          <span class="highlight"></span>
          <span class="bar cyan"></span>
          <label class="cyan">Email or phone number</label>
        </div>

        <div class="group">
          <input type="text" id="login-code" required>
          <span class="highlight"></span>
          <span class="bar cyan"></span>
          <label class="cyan">Authorization Code</label>
        </div>

        <input type="submit" id="login-button" class="violet" value="ENTER"/>
        <input type="button" id="create-account" class="blue" value="CREATE"/>
      </form>
    {{else}}
      <button id="login-logout">EXIT</button>
    {{/unless}}
  </div>

</template>
